
.img {
    border: 2px solid white;
}

.addd {
    background-color: rgba(0,0,0,0.9);
}
.img-container {
    position: relative;
    color: white;
    transition: transform 0.2s;
}



.img-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    border: 2px solid white;
    border-top: none;
}

.img-container:hover .overlay{
    opacity: 1;
}